{% extends "base.html" %} {% block "content" %} {% load crispy_forms_tags %}
<div class="container post-header border border-secondary" style="padding:0; border: 0;">
    <div class=" row ">
        <div class="col-md-12 ">
            <!-- <div class="row "> -->
            <div class="col-md-12 ">
                <div id="content " class="content content-full-width ">
                    <div class="profile ">
                        <div class="profile-header ">
                            <div class="profile-header-cover "></div>
                            <div class="profile-header-content ">

                                <div class="profile-header-info ">
                                    <h3 class="m-t-10 m-b-5 " style="padding-bottom:4.85rem">{{ user }}</h3>
                                    <!-- <p class="m-b-10 ">Canada</p> -->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="profile-content ">
                        <div class="tab-content p-0 ">
                            <div class="tab-pane fade in active show" id="profile-about">

                                <h4>About Me:</h4>
                                <form class="about_form" method="post" action="" enctype="multipart/form-data">
                                    <!-- loads the form data  -->
                                    {% csrf_token %} {% crispy form %}
                                    <div style="display: flex; justify-content:end">
                                        <button class="btn btn-xs btn-danger ">Cancel</button>
                                        <button class="btn btn-xs btn-success ms-2">Save</button>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}