{% load static %}

<!-- Body -->
<div class="container head">
  <img src="{% static 'images/logo.png' %}" alt="ACE-BC logo" class="logo-image">
  <h1 class="bold-heading">Community of Practice in Education (COPE)</h1>
  <div class="top-right-corner">
    <!-- pfp links to homepage for now -->
    <a href="/profile"><img src="{% static 'images/pfp-default.jpg' %}" alt="pfp" class="pfp-image"></a>
    <div class="user-name">{{ user }}</div>
    
    <!-- drop down -->
    <div class="dropdown no-decor">
      <a class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/profile">Profile</a></li>
        <li><a class="dropdown-item" href="/logout/">Log Out</a></li>
      </ul>
    </div>
    <!-- end of drop down -->

  </div>
</div>